/* =========================================
   1. VARIABLES 
   ========================================= */

:root {
    --color-bg: #F3F4F6;
    --color-primary: #4F46E5;
    --color-secondary: #E0E7FF;
    --color-text-main: #1F2937;
    --color-text-light: #6B7280;
    --color-plank: #374151;
    --color-pivot: #DC2626;

    /* Dimensions */
    --plank-width: min(600px, 90vw);
    --plank-height: 10px;
    --pivot-size: 40px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text-main);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

/* =========================================
   2.  UI & Stats
   ========================================= */

#app {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

.app-header h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0.3rem;
}

.app-header p {
    color: var(--color-text-light);
    text-align: center;
}

.ui-panel {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    gap: 1rem;
}

.stat-box {
    background-color: #FFFFFF;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.stat-box .label {
    font-size: 0.7rem;
    color: var(--color-text-light);
    font-weight: 600;
}

.stat-box .value {
    font-size: 1rem;
    font-weight: 900;
    color: var(--color-primary);
}

/* =========================================
   3. ggame & simulation area 
   ========================================= */

.simulation-area {
    border: 2px solid red;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    overflow: hidden;

}

.seesaw-container {
    border: 2px solid red;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plank {
    width: 100%;
    height: var(--plank-height);
    background-color: var(--color-plank);
    position: relative;
}

.ruler-markers {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0px;
    border: 3px solid orange;
}

.marker {
    position: absolute;
    top: 5px;
    /* margin-left: -4px; */
    color: grey;
    font-weight: 600;
    font-size: 0.75rem;
    transform: translateX(-50%);
    /* better than margin-left; */

}

.pivot {
    width: 0px;
    height: 0px;
    /* border: 25px solid red; */
    border-left: calc(var(--pivot-size)/2) solid transparent;
    border-right: calc(var(--pivot-size)/2) solid transparent;
    border-bottom: var(--pivot-size) solid var(--color-pivot);



}