/* =========================================
   1. VARIABLES 
   ========================================= */
:root {
    --color-bg: #f8fafc;
    --color-surface: #ffffff;
    --color-primary: #6366f1;
    --color-primary-hover: #4f46e5;
    --color-secondary: #e2e8f0;
    --color-text-main: #1e293b;
    --color-text-light: #64748b;
    --color-danger: #ef4444;
    --color-danger-hover: #dc2626;
    --color-info: #3b82f6;
    --color-success: #22c55e;
    --color-warning: #f59e0b;
    --color-game-area-bg: #f1f5f9;
    --color-plank: #334155;
    --color-pivot: #94a3b8;

    --plank-width: min(600px, 90vw);
    --plank-height: 10px;
    --pivot-size: 40px;
}

/* =========================================
   2. RESET & BASE STYLES
   ========================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text-main);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    font-family: "Rubik", sans-serif;
}

/* =========================================
   3. LAYOUT & CONTAINER
   ========================================= */
#app {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

.app-header h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0.3rem;
    color: var(--color-text-main);
}

.app-header p {
    color: var(--color-text-light);
    text-align: center;
}

.ui-panel {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    gap: 1rem;
}

/* =========================================
   4. COMPONENTS (Stats, Buttons, Logs)
   ========================================= */

.stat-box {
    background-color: var(--color-surface);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.stat-box .label {
    font-size: 0.7rem;
    color: var(--color-text-light);
    font-weight: 600;
}

.stat-box .value {
    font-size: 1rem;
    font-weight: 900;
    color: var(--color-text-main);
}

#total-weight-left {
    color: var(--color-info);
}

#total-weight-right {
    color: var(--color-danger);
}

.controls {
    display: flex;
    gap: 1rem;
}

.btn {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 7px;
    font-weight: 700;
    cursor: pointer;
    color: white;
    transition: all 0.4s;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.btn-pause {
    background-color: var(--color-primary);
}

.btn-pause:hover {
    background-color: var(--color-primary-hover);
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.btn-reset {
    background-color: var(--color-danger);
}

.btn-reset:hover {
    background-color: var(--color-danger-hover);
    box-shadow: 0 1px 1px 2px rgba(112, 3, 3, 0.1);
}

.log-panel {
    width: 90%;
    max-width: 600px;
    padding: 0.5rem 0.75rem;
    padding-top: 0rem;
    background-color: var(--color-surface);
    border-radius: 8px;
    box-shadow: 0 4px 8px -1px rgba(0, 0, 0, 0.1);
}

.log-panel h2 {
    font-size: 1rem;
    margin: 4px;
    color: var(--color-text-main);
    border-bottom: 1px solid var(--color-secondary);
    padding: 0.75rem 1rem;
}

.log-list {
    height: 150px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.log-item {
    font-size: 0.8rem;
    color: var(--color-text-main);
    padding: 0.35rem 0.2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    font-family: monospace;
    animation: logAnimation 0.2s ease-in;
}

.log-item:last-child {
    border-bottom: none;
}

.left {
    color: var(--color-info);
    font-weight: bold;
    text-transform: uppercase;
}

.right {
    color: var(--color-danger);
    font-weight: bold;
    text-transform: uppercase;
}

/* =========================================
   5. GAME AREA (Simulation)
   ========================================= */

.simulation-area {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    background-color: var(--color-game-area-bg);
    border: none;
}

.seesaw-container {
    width: 600px;
    bottom: calc(50% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border: none;
}

.plank {
    width: 100%;
    height: var(--plank-height);
    background-color: var(--color-plank);
    position: relative;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 1.5s ease-in-out;
}

.pivot {
    width: 0px;
    height: 0px;
    border-left: calc(var(--pivot-size)/2) solid transparent;
    border-right: calc(var(--pivot-size)/2) solid transparent;
    border-bottom: var(--pivot-size) solid var(--color-pivot);
    margin-top: -3px;
}

.ruler-markers {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0px;
}

.marker {
    position: absolute;
    top: 10px;
    color: var(--color-text-light);
    font-weight: 600;
    font-size: 0.75rem;
    transform: translateX(-50%);
    pointer-events: none;
}

.center-point {
    display: none;
}

/* =========================================
   6. DYNAMIC ELEMENTS (Weights)
   ========================================= */

.weight-box {
    position: absolute;
    pointer-events: none;
    bottom: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 0.85rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    animation: topToBottom 0.65s linear;
    transform: translateX(-50%);
}

@keyframes topToBottom {
    0% {
        opacity: 0;
        transform: translate(-50%, -200px);
    }

    35% {
        opacity: 0.85;
        transform: translate(-50%, -100px);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

@keyframes logAnimation {
    0% {
        opacity: 1;
        transform: translate(0, -40px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}