/* =========================================
   1. VARIABLES 
   ========================================= */

:root {
    --color-bg: #F3F4F6;
    --color-primary: #4F46E5;
    --color-secondary: #E0E7FF;
    --color-text-main: #1F2937;
    --color-text-light: #6B7280;
    --color-game-area-bg: #FFFFFF;
    --color-plank: #374151;
    --color-pivot: #DC2626;

    /* Dimensions */
    --plank-width: min(600px, 90vw);
    --plank-height: 10px;
    --pivot-size: 40px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text-main);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    font-family: "Rubik", sans-serif;

}

/* =========================================
   2.  UI & Stats
   ========================================= */

#app {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

.app-header h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0.3rem;
}

.app-header p {
    color: var(--color-text-light);
    text-align: center;
}

.ui-panel {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    gap: 1rem;
}

.stat-box {
    background-color: #FFFFFF;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.stat-box .label {
    font-size: 0.7rem;
    color: var(--color-text-light);
    font-weight: 600;
}

.stat-box .value {
    font-size: 1rem;
    font-weight: 900;
    color: var(--color-primary);
}

/* =========================================
   3. ggame & simulation area 
   ========================================= */

.simulation-area {
    border: 2px solid red;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    background-color: var(--color-game-area-bg);

}

.seesaw-container {
    border: 2px solid red;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plank {
    width: 100%;
    height: var(--plank-height);
    background-color: var(--color-plank);
    position: relative;
    border-radius: 20px;
    cursor: pointer;

    transition: transform 1.5s ease-in-out;

}

.ruler-markers {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0px;
    /* border: 3px solid orange; */
}

.marker {
    position: absolute;
    top: 10px;
    /* margin-left: -4px; */
    color: grey;
    font-weight: 600;
    font-size: 0.75rem;
    transform: translateX(-50%);
    /* better than margin-left; */
    pointer-events: none;

}

.center-point {
    display: none;
}

.pivot {
    width: 0px;
    height: 0px;
    /* border: 25px solid red; */
    border-left: calc(var(--pivot-size)/2) solid transparent;
    border-right: calc(var(--pivot-size)/2) solid transparent;
    border-bottom: var(--pivot-size) solid var(--color-pivot);
    margin-top: -3px;
}

/* =========================================
   4. PAUSE / RESET (CONTROL BUTTONS)
   ========================================= */

.controls {
    display: flex;
    gap: 1rem;
}

.btn {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 7px;
    font-weight: 700;
    cursor: pointer;
    color: white;
    transition: all 0.4s;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.btn-pause {
    background-color: rgb(0, 128, 255);
}

.btn-pause:hover {
    background-color: rgb(0, 51, 255);
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.1);



}

.btn-reset {
    background-color: red;

}

.btn-reset:hover {
    background-color: rgb(112, 3, 3);
    box-shadow: 0 1px 1px 2px rgba(112, 3, 3, 0.1);


}

/* =========================================
    5. WEIGHT BOXES 
   ========================================= */

.weight-box {
    position: absolute;
    pointer-events: none;
    /*fixing position bug*/
    bottom: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 0.85rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    animation: topToBottom 0.65s linear;
    transform: translateX(-50%);
}

@keyframes topToBottom {
    0% {
        opacity: 1;
        transform: translate(-50%, -200px);
    }

    35% {
        opacity: 1;
        transform: translate(-50%, -100px);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

/* =========================================
    5. LOG LIST
   ========================================= */

.log-panel {
    width: 90%;
    max-width: 600px;
    padding: 1rem;
    background-color: var(--color-game-area-bg);
    border-radius: 8px;
    box-shadow: 0 4px 8px -1px rgba(0, 0, 0, 0.1);
}

.log-panel h2 {
    font-size: 1rem;
    margin: 4px;
    color: var(--color-text-main);
}

.log-list {
    height: 150px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    /* gap: 0.4rem; */
    overflow-y: auto;
}

.log-item {
    font-size: 0.8rem;
    color: var(--color-text-main);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.35rem 0.2rem;
    font-family: monospace;
    animation: logAnimation 0.2s ease-in;
}

@keyframes logAnimation {
    0% {
        opacity: 1;
        transform: translate(0, -40px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.log-item:last-child{
    border-bottom: none;
}

.left {
    color: blue;
    /* Mavi */
    font-weight: bold;
    text-transform: uppercase;
}

.right {
    color: red;
    /* Kırmızı */
    font-weight: bold;
    text-transform: uppercase;
}